<div class="stream">
    <div class="follow_box">
        <p>
            Follow this site on Mastodon or other fediverse clients: 
            <input type="text" value="{{user}}@{{domain}}" size="50"/>
        </p>
    </div>
<header class="back">
    <a  href="#" onclick="history.back(); return false;"><img src="{{actor.icon.url}}" class="avatar"></a>
    <a href="#" onclick="history.back(); return false;">Back to {{actor.preferredUsername}}</a>
</header>
#{{tag}}
</div>
