<!DOCTYPE html>
<html>
  <head>
    <title>{{me.preferredUsername}}'s shuttlecraft</title>
    <link rel="stylesheet" href="{{rootUrl}}/css/secret.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="ono sendai" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="theme-color" content="#ffffff" />
    <script src="/app.js"></script>
  </head>
  <body>
        <div id="wrapper">
            <div id="nav">
                <nav>
                    <ul>
                      <li id="logo"><a href="{{rootUrl}}/private">🚀</a></li>
                      {{!-- <li><a href="{{rootUrl}}/private">🏠</a><span class="badge" id="newPostsBadge" hidden></span></li>
                      <li><a href="{{rootUrl}}/private/notifications">🔔</a><span class="badge" id="newNotificationsBadge" hidden></span></li>
                      <li><a href="{{rootUrl}}/private/dms">💬</a><span class="badge" id="newDMsBadge" hidden></span></li>
                      <li><a href={{rootUrl}}"/private/post">➕</a></li> --}}
                    </ul>
                </nav>
            </div>
            <div id="menu">
                <nav>
                    <ul id="top_nav">
                        <li><a href="/private">Latest</a><span class="badge" id="newPostsBadge" hidden></span></li>
                        <li><a href="/private/notifications">Notifications</a><span class="badge" id="newNotificationsBadge" hidden></span></li>
                        <li><a href="/private/dms">Messages</a><span class="badge" id="newDMsBadge" hidden></span></li>
                        <li><a href="/private/post">Compose</a></li>
                        <li><a href="/private/feeds/{{getUsername me.id}}">My Posts</a></li>
                    </ul>
                    <ul id="top_feeds">
                        <li>
                          <form onsubmit="return app.lookup()">
                              <label for="lookup">find a person</label>
                              <input type="search" placeholder="user@instance.town" id="lookup" />
                              <div id="lookup_results"></div>
                          </form>
                        </li>
                        {{#if feeds}}
                            {{#each feeds}}
                                <li class="{{#if this.unread}}unread{{/if}} {{#isEq ../feed.id this.actorId}}current{{/isEq}}">
                                    <a href="/private/feeds/{{getUsername this.actorId}}" title="{{getUsername this.actorId}}">
                                        {{> avatar actor=actor nolink=true}}
                                        {{or actor.preferredName actor.name}}
                                    </a>
                                </li>
                            {{/each}}
                            <li><a href="/private/following" title="Next 100">...</a></li>
                        {{else}}
                            {{!-- <div class="empty">
                                No feeds.
                            </div> --}}
                        {{/if}}
                    </ul>
                </nav>
            </div>
            <div id="content">
            {{{body}}}
           </div>
        </div>
    </body>
</html>
