<!DOCTYPE html>
<html>
  <head>
    <title>{{me.preferredUsername}}'s shuttlecraft</title>
    <link rel="stylesheet" href="{{rootUrl}}/css/secret.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="ono sendai" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="theme-color" content="#ffffff" />
    <script src="/app.js"></script>
  </head>
  <body>
        <div id="wrapper">
            <div id="nav">
                <nav>
                    <ul><li><a href="">🚀</a></li></ul>
                </nav>
            </div>
            <div id="menu">
                <nav>
                    <ul id="top_nav">
                        <li><a href="/private">Latest</a></li>
                        <li><a href="/private/notifications">Notifications</a></li>
                        <li><a href="/private/dms">Messages</a></li>
                        <li><a href="/private/post">Compose</a></li>
                        <li><a href="/private/feeds/{{getUsername me.id}}">My Posts</a></li>
                    </ul>
                    <ul id="top_feeds">
                        <li><form><input type="search" placeholder="find someone" /></form></li>
                        {{#if feeds}}
                            {{#each feeds}}
                                <li class="{{#if this.unread}}unread{{/if}} {{#isEq ../feed.id this.actorId}}current{{/isEq}}">
                                    <a href="/private/feeds/{{getUsername this.actorId}}" title="{{getUsername this.actorId}}">
                                        {{> avatar actor=actor nolink=true}}
                                        {{or actor.preferredName actor.name}}
                                    </a>
                                </li>
                            {{/each}}
                        {{else}}
                            <div class="empty">
                                No feeds.
                            </div>
                        {{/if}}
                        <li><a href="" title="Next 100">...</a></li>
                    </ul>
                </nav>
            </div>
            <div id="content">
            {{{body}}}
           </div>
        </div>
    </body>
</html>
