<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{rootUrl}}/css/main.css" />
    <link rel="stylesheet" href="{{rootUrl}}/css/secret.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="main">
      <h1>Secret Control Panel</h1>
      <nav class="toolbar">
        <a href="{{rootUrl}}/private">All Posts</a>
      </nav>
      {{{body}}}
    </div>
    <script src="/app.js"></script>
  </body>
</html>
