{{#unless nolink}}<a href="{{#if public}}{{or actor.url actor.id}}{{else}}/private/feeds/{{getUsername actor.id}}{{/if}}" class="avatar_link">{{/unless}}
    {{#if actor.icon.url }}
    <img src="{{actor.icon.url}}" class="avatar">
    {{else}}
    <img src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg" class="avatar">
    {{/if}}
{{#unless nolink}}</a>{{/unless}}

{{!-- <input type="file" id="avatarInput" accept="image/*">

<script>
    document.getElementById('avatarInput').addEventListener('change', function(event) {
        if (event.target.files && event.target.files[0]) {
            let reader = new FileReader();
            reader.onload = function(e) {
                document.getElementsByClassName('avatar')[0].src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    });
</script> --}}