{{#if nolink}}
{{else}}
<a href="{{#if public}}{{or actor.url actor.id}}{{else}}/private/profile/{{getUsername actor.id}}{{/if}}">
{{/if}}
    {{#if actor.icon.url}}
        {{#if mini}}
            <img src="{{actor.icon.url}}" class="mini-avatar">
        {{else}}
            <img src="{{actor.icon.url}}" class="avatar">
        {{/if}}
    {{else}}
        {{#if mini}}
            <img src="/images/avatar-unknown.png" class="mini-avatar">
        {{else}}
            <img src="/images/avatar-unknown.png" class="avatar">
        {{/if}}
    {{/if}}
{{#if nolink}}
{{else}}
</a>
{{/if}}
