<div class="stream" >
    {{#if originalPost}}
        <Header>Reply</Header>
        <div class="activity">
            {{!-- {{> byline actor=actor}} --}}
            {{{originalPost.content}}}
        </div>
    {{else}}
        {{#if prev}}
        <Header>Edit</Header>
        {{else}}
        {{/if}}
    {{/if}}

    <form onsubmit="return app.post()" id="composer">
        <fieldset id="composer_form">
        <textarea id="post" required placeholder="The coolest thing I can think of right now..." onfocus="this.value = this.value;">{{#if actor}}@{{getUsername actor.id}} {{/if}}{{#if prev}}{{stripHTML prev.content}}{{/if}}</textarea>
        <input type="text" id="cw" placeholder="content warning"
        {{!-- {{#if prev}}value="{{{prev.summary}}}"{{/if}} --}}
        />
        <input id="inReplyTo" class='inReplyTo' placeholder="in reply to" hidden
        {{#if prev}}
        value="{{{prev.inReplyTo}}}"
        {{else}}
        value="{{inReplyTo}}"
        {{/if}}
        />
        <input id="to" class="to" placeholder="to" hidden value="{{to}}"
        {{#if prev}}
        value="{{{prev.to}}}"
        {{else}}
        value="{{to}}"
        {{/if}}
        />
        {{#if prev}}
        <input id="editOf" value="{{{prev.id}}}" hidden/>
        {{/if}}
        <div>
            <input type="checkbox" id="canReply" name="canReply" checked />
            <label for="canReply">Allow Reply</label>
            <input type="checkbox" id="canBoost" name="canBoost" checked />
            <label for="canBoost">Allow Boost</label>
            <input type="checkbox" id="canFave" name="canFave" checked />
            <label for="canFave">Allow Fave</label>
        </div>
        <button id="submit" type="submit">{{@root.prefs.strings.post}}</button>
        </fieldset>
    </form>
</div>
<script>

    // scroll to bottom
    var div = document.getElementById("main");
    div.scrollTop = div.scrollHeight;

    // focus the text input
    const input = document.getElementById('post');
    input.focus();
    input.selectionStart = input.selectionEnd = input.value.length;

</script>
