        {{> byline actor=actor}}
        {{#if note.summary}}
        <div class="content content_warning">
            <span>⚠️ {{note.summary}}</span>
            <div class="tools">
                <a href="#" onclick='return app.toggleCW("{{note.id}}");'>Toggle</a>
            </div>
        </div>
        {{/if}}
        <div class="content {{#if note.summary}}collapsed{{/if}}" id="{{note.id}}">
            {{{note.content}}}

            {{#if note.inReplyTo}}
            <p><a href="{{note.inReplyTo}}" class="showThread">Show Thread</a></p>
            {{/if}}

            {{#each note.attachment}}
                <div class="attachment">
                    {{#isImage mediaType}}
                    <a href="{{../url}}" target="_blank"><img src="{{../url}}" alt="{{../name}}" /></a>
                    {{/isImage}}
                    {{#isVideo mediaType}}
                    <video role="application" src="{{../url}}" loop controls type="{{../mediaType}}"></video>
                    {{/isVideo}}
                </div>
            {{/each}}
            <footer>
                <div class="tools">
                    <button onclick='return app.replyTo("{{note.id}}","{{{getUsername actor.id}}}")'>↩️</button>
                    <button class="booster {{#if note.isBoosted}}active{{/if}}" onclick='return app.toggleBoost(this, "{{note.id}}")'>
                        <span class="active">🚀</span>
                        <span class="inactive">🔁</span>
                    </button>
                    <button class="like {{#if note.isLiked}}active{{/if}}" onclick='return app.toggleLike(this, "{{note.id}}")'>
                        <span class="active">⭐️</span>
                        <span class="inactive">☆</span>
                    </button>
                    {{#isEq note.attributedTo me.id}}
                    <button onclick='return app.editPost("{{../note.id}}")'>
                        <span>✏️</span>
                    </button>
                    {{/isEq}}
                </div>
                <a href="{{note.url}}" class="permalink">{{timesince note.published}}</a>
            </footer>
        </div>
