    <div class="profileHeader">
        {{#if actor.image}}
            <img src="{{actor.image.url}}">
        {{/if}}
    </div>
    <div class="profileToolbar">
        <div class="avatarLink">
            {{> avatar actor=actor public=true}}
        </div>
        <div class="tools">
            <button class="bigfollow {{#if actor.isFollowing}}active{{/if}}" onclick='return app.toggleFollow(this, "{{actor.id}}")'>
                <span class="active">Unfollow</span>
                <span class="inactive">Follow</span>
            </button>
            <a href="/private/dms/{{getUsername actor.id}}">✉️</a>
        </div>
    </div>
    <div class="profileBody">
        <div class="profile">
            <a href="{{or actor.url actor.id}}" class="author">{{actor.name}}</a>
            <span class="handle">{{getUsername actor.id}}</span>      
            {{#if actor.isFollower}}
            <span class="meta_tag">Follows you</span>
            {{/if}}
            {{#unless nobio}}

            {{{actor.summary}}}

            {{#if actor.attachment}}
                <dl>
                {{#each actor.attachment}}
                    <dt>
                        {{this.name}}
                    </dt>
                    <dd>
                        {{{this.value}}}
                    </dd>
                {{/each}}
                </dl>
            {{/if}}
            {{/unless}}
        </div>
    </div>