<div class="profile stream">
    <div class="profileHeader">
        {{#if actor.image}}
            <img src="{{actor.image.url}}">
        {{/if}}
    </div>
    <div class="profileToolbar">
        <div class="avatarLink">
            {{> avatar actor=actor public=true}}
        </div>
        <div class="tools">
            <button class="bigfollow {{#if actor.isFollowing}}active{{/if}}" onclick='return app.toggleFollow(this, "{{actor.id}}")'>
                <span class="active">Unfollow</span>
                <span class="inactive">Follow</span>
            </button>
            <a href="/private/dms/{{getUsername actor.id}}">✉️</a>
        </div>
    </div>
    <div class="profileBody">
        <div class="profile">
            <a href="{{or actor.url actor.id}}" class="author">{{actor.name}}</a>
            <span class="handle">{{getUsername actor.id}}</span>      
            {{#if actor.isFollower}}
            <span class="meta_tag">Follows you</span>
            {{/if}}

            {{{actor.summary}}}

            {{#if actor.attachment}}
                <dl>
                {{#each actor.attachment}}
                    <dt>
                        {{this.name}}
                    </dt>
                    <dd>
                        {{{this.value}}}
                    </dd>
                {{/each}}
                </dl>
            {{/if}}
        </div>
    </div>
    <header>
        <span>🏠 Latest</span>
        <a href="/private" id="newPosts" class="unread" hidden></a>
    </header>
    <div id="profile_stream">
        {{#each activitystream}}
            {{#with this}}
                <div class="activity">
                    {{#if boost}}
                        <div class="boost">
                        🚀 boosted by <a href="{{booster.url}}">{{booster.name}}</a>
                        </div>
                    {{/if}}
                    {{> note note=note}}
                </div>
            {{/with}}
        {{/each}}
    </div>
</div>
