<div class="stream">
<header>
    <span>🏠 Latest</span>
    <a href="/private" id="newPosts" class="unread" hidden></a>
</header>
<div id="home_stream">
    {{#if activitystream}}
        {{#each activitystream}}
            {{#with this}}
                <div class="activity">
                    {{#if boost}}
                        <div class="boost">
                        🚀 boosted by <a href="{{booster.url}}">{{booster.name}}</a>
                        </div>
                    {{/if}}
                    {{> note note=note me=../me}}
                </div>
            {{/with}}
        {{/each}}
    {{else}}
        <div class="empty">
            <p>Follow some people to fill your feed with posts.</p>
            <p>I suggest following me! 
                I'm <a href="/private/profile/benbrown@hackers.town">benbrown@hackers.town</a>
            </p>
        </div>
    {{/if}}
</div>


{{#if next}}
<a href="/private?offset={{next}}" class="moreLink">More</a>
{{/if}}
</div>
{{> peopleTools}}
<script>
    // take note of the most recent post date
    {{#isEq offset "0"}}
    {{#each ../activitystream}} {{#if @first}} 
    app.latestPost("{{or this.boost.published this.note.published}}");
    {{/if}}{{/each}}
    {{/isEq}}
    app.pollForPosts();
</script>
