<div class="stream">
{{> composer}}
<header>
    <span>🏠 Latest</span>
    <a href="/private" id="newPosts" class="unread" hidden></a>
</header>
<div id="home_stream">
    {{#each activitystream}}
        {{#with this}}
            <div class="activity">
                {{#if boost}}
                    <div class="boost">
                    🚀 boosted by <a href="{{booster.url}}">{{booster.name}}</a>
                    </div>
                {{/if}}
                {{> note note=note}}
            </div>
        {{/with}}
    {{/each}}
</div>

<a href="/private?offset={{next}}" class="moreLink">More</a>
</div>
<div class="states">
    <div class="box">
        <a href="/private/followers">
            Followers: <span class="count">{{followersCount}}</span>
        </a>
        <a href="/private/following">
            Following: <span class="count">{{followingCount}}</span>
        </a>

        <form onsubmit="return app.lookup()">
            <label for="lookup">find a person</label>
            <input type="search" placeholder="user@instance.town" id="lookup" />
            <div id="lookup_results"></div>
        </form>
    </div>
</div>
<script>
    // take note of the most recent post date
    {{#each activitystream}} {{#if @first}} 
    app.latestPost("{{or this.boost.published this.note.published}}");
     {{/if}}{{/each}}
   
    app.pollForPosts();
</script>