<div class="stream">
<div id="composer">
    <form onsubmit="return app.post()">
        <textarea id="post" required placeholder="The coolest thing I can think of right now..."></textarea>
        <input type="text" id="cw" placeholder="content warning" />
        <button id="submit" type="submit">Post</button>
    </form>
</div>
<header>
    <span>🏠 Latest</span>
    <a href="/private" id="newPosts" class="unread" hidden></a>
</header>
<div id="home_stream">
    {{#each activitystream}}
        {{#with this}}
            <div class="activity">
                {{#if boost}}
                    <div class="boost">
                    🚀 boosted by <a href="{{booster.url}}">{{booster.name}}</a>
                    </div>
                {{/if}}
                {{> note note=note}}
            </div>
        {{/with}}
    {{/each}}
</div>

<a href="/private?offset={{next}}">More</a>
</div>
<div class="states">
    Followers: {{followers}}
    Following: {{following}}

    <form onsubmit="return app.lookup()">
        <input type="search" placeholder="user@instance.town" id="lookup" />
        <div id="lookup_results"></div>
    </form>

</div>
<script>
    // take note of the most recent post date
    {{#each activitystream}} {{#if @first}} 
    app.latestPost("{{or this.boost.published this.note.published}}");
     {{/if}}{{/each}}
   
    app.pollForPosts();
</script>