<div class="stream">
<header>
    <span>{{prefs.icons.latest}} Latest</span>
    <a href="/private" id="newPosts" class="unread" hidden></a>
</header>
<div id="home_stream">
    {{#if activitystream}}
        {{#each activitystream}}
            {{#with this}}
                <div class="activity">
                    {{#if boost}}
                        <div class="boost">
                        🚀 boosted by <a href="/private/feeds/{{getUsername booster.id}}">{{booster.name}}</a>
                        </div>
                    {{/if}}
                    {{> note note=note me=../me}}
                </div>
            {{/with}}
        {{/each}}
    {{else}}
        <div class="empty">
            <p>Follow some people to fill your feed with posts.</p>
            <p>We suggest following our Professor Thomas Powell! You can find him at
                <a href="/private/feeds/thomasapowell@fosstodon.org">thomasapowell@fosstodon.org</a>
            </p>
        </div>
    {{/if}}
</div>


    {{#if next}}
        <footer>
            <a href="/private?offset={{next}}" class="moreLink">More</a>
        </footer>
    {{/if}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Take note of the most recent post date
        {{#isEq offset "0"}}
            {{#each ../activitystream}}
                {{#if @first}}
                    app.latestPost("{{or this.boost.published this.note.published}}");
                {{/if}}
            {{/each}}
        {{/isEq}}
        app.pollForPosts();
    });
</script>
