<h1>Dashbort</h1>


<div class="stream">
<div class="composer">
    <form onsubmit="return app.post()">
        <textarea id="post"></textarea>
        <input type="text" id="cw" placeholder="content warning" />
        <button type="submit">Post</button>
    </form>
</div>
{{#each activitystream}}
<div class="activity">
    {{#with this}}
        <div class="header">
            <img src="{{actor.icon.url}}" class="avatar">
            <div>
                <div><strong>{{actor.preferredUsername}}</strong></div>
                @{{actor.name}}
            </div>
        </div>
        <div class="content">
            {{#if note.summary}}
            content warning: {{note.summary}}
            {{/if}}
            {{{note.content}}}

            {{#if note.inReplyTo}}
            <div><a href="{{note.inReplyTo}}">Show Thread</a></div>
            {{/if}}

            {{#each note.attachment}}
                <div class="attachment">
                    {{#isImage mediaType}}
                    <a href="{{../url}}" target="_blank"><img src="{{../url}}" alt="{{../name}}" /></a>
                    {{/isImage}}
                    {{#isVideo mediaType}}
                    <video role="application" src="{{../url}}" autoplay="" loop="" controls="true" type="{{../mediaType}}"></video>
                    {{/isVideo}}
                </div>
            {{/each}}
            <div class="tools">
                <button>↩️</button>
                <button>🔁</button>
                <button class="like {{#if note.isLiked}}active{{/if}}" onclick='return app.toggleLike(this, "{{note.id}}")'>
                    <span class="active">⭐️</span>
                    <span class="inactive">☆</span>
                </button>
                <a href="{{note.url}}">#</a>
            </div>
        </div>
    {{/with}}
</div>
{{/each}}

<a href="/private?offset={{next}}">More</a>
</div>
<div class="states">
    Followers: {{followers}}
    Following: {{following}}

    <form onsubmit="return app.follow()">
        <input type="text" placeholder="user@instance.town" id="follow"></textarea>
        <button type="submit">follow</button>
    </form>

</div>
