<div class="feeds {{#if recipient}}inbox_visible{{/if}}">
    <header>Messages</header>
    {{#if inboxesWithAccounts}}
        {{#each inboxesWithAccounts}}
            <div class="feed {{#if this.unread}}unread{{/if}} {{#isEq this.id ../recipient.id}}current{{/isEq}}">
                <a href="/private/dms/{{getUsername this.id}}">
                {{> avatar actor=this.actor mini=true nolink=true}}
                {{getUsername this.id}}</a>
            </div>
        {{/each}}
    {{else}}
        <div class="empty">
            No messages.
        </div>
    {{/if}}
</div>
{{#if error}}
<div class="error">
    {{error.message}}
</div>
{{else}}
    <div class="stream">
        {{#if recipient}}
        <header><a href="/private/dms">Inbox</a> &raquo; Messages with <a href="/private/profile/{{getUsername recipient.id}}">{{recipient.preferredUsername}}</a></header>
        <div class="inbox">
            <div class="messages" id="inbox_stream">
                {{#each inbox}}
                    {{> dm message=this me=../me}}
                {{/each}}
            </div>
        {{> minicomposer inReplyTo=lastIncoming to=recipient.id}}
        </div>
        {{else}}
            <!-- TODO: empty state? -->
            <div class="empty">
                Select a conversation. To create a new one, navigate to a profile.
            </div>
        {{/if}}
    </div>
{{/if}}
<script>
    app.pollForPosts();
</script>
