<div class="feeds {{#if recipient}}inbox_visible{{/if}}">
    <header>Feeds</header>
    {{#if feeds}}
        {{#each feeds}}
            <div class="feed {{#if this.unread}}unread{{/if}} {{#isEq ../feed.id this.actorId}}current{{/isEq}}">
                {{> avatar actor=actor}}
                <a href="/private/feeds/{{getUsername this.actorId}}" title="{{getUsername this.actorId}}">{{or actor.preferredName actor.name}}</a>
            </div>
        {{/each}}
    {{else}}
        <div class="empty">
            No messages.
        </div>
    {{/if}}
</div>
{{#if error}}
<div class="error">
    {{error.message}}
</div>
{{else}}
    <div class="stream">
        {{#if feed}} 
        <header>
            {{> personCard actor=feed}}
        </header>
        {{/if}}
        {{#if activitystream}}
            {{#each activitystream}}
                {{#with this}}
                    <div class="activity">
                        {{#if boost}}
                            <div class="boost">
                            🚀 boosted by <a href="{{booster.url}}">{{booster.name}}</a>
                            </div>
                        {{/if}}
                        {{> note note=note hidebyline=true}}
                    </div>
                {{/with}}
            {{/each}}
        {{else}}
            <!-- TODO: empty state? -->
            <div class="empty">
                Select a conversation. To create a new one, navigate to a profile.
            </div>
        {{/if}}

        {{#if next}}
        <a href="?offset={{next}}" class="moreLink">More</a>
        {{/if}}

    </div>
{{/if}}
<script>
    app.pollForPosts();
</script>