<a href="#" onclick="history.back(); return false;">Back</a>
<div class="stream">
{{#each activitystream}}
<div class="activity">
    {{#with this}}
        <div class="header">
            <img src="{{actor.icon.url}}" class="avatar">
            <div>
                <div><strong>{{actor.preferredUsername}}</strong></div>
                {{getUsername actor.id}}
            </div>
        </div>
        {{#if note.summary}}
        <div class="content_warning">
            content warning: {{note.summary}}
        </div>
        {{/if}}
        <div class="content">
            {{{note.content}}}

            {{#each note.attachment}}
                <div class="attachment">
                    {{#isImage mediaType}}
                    <a href="{{../url}}" target="_blank"><img src="{{../url}}" alt="{{../name}}" /></a>
                    {{/isImage}}
                    {{#isVideo mediaType}}
                    <video role="application" src="{{../url}}" controls type="{{../mediaType}}"></video>
                    {{/isVideo}}
                </div>
            {{/each}}
            <footer>
                {{#if stats}}
                <div class="tools">
                    <div>
                        ↩️ {{ stats.replies }}
                    </div>
                    <div>
                        🔁 {{ stats.boosts }}
                    </div>
                    <div>
                        ⭐️ {{ stats.likes }}
                    </div>
                </div>
                {{/if}}
                <a href="{{note.url}}" class="permalink">{{timesince note.published}}</a>
            </footer>
        </div>
    {{/with}}
</div>
{{/each}}
</div>
