<div class="stream">
<header>
    <span>🔔 Notifications</span>
    <a href="/private/notifications" id="newNotifications" class="unread" hidden></a>
</header>

{{#each notifications}}
    <div class="activity">
    {{#with this}}
        {{#isEq notification.type "Announce"}}
            <div class="notification">🚀 <a href="/private/profile/{{getUsername ../actor.id}}">{{../actor.name}}</a> boosted <a href="{{../note.id}}">your post</a> {{timesince ../time}}</div>
            <div class="preview">
                {{{...note.content}}}
            </div>
        {{/isEq}}
        {{#isEq notification.type "Reply"}}
            {{> note actor=../actor note=../note}}
        {{/isEq}}
        {{#isEq notification.type "Mention"}}
            <div class="notification">💬 <a href="/private/profile/{{getUsername ../actor.id}}">{{../actor.name}}</a> mentioned you {{timesince ../time}}</div>
            {{> note actor=../actor note=../note}}
        {{/isEq}}
        {{#isEq notification.type "DM"}}
            <div class="notification">💬 <a href="/private/profile/{{getUsername ../actor.id}}">{{../actor.name}}</a> <a href="/private/dms/{{getUsername ../actor.id}}">direct messaged you {{timesince ../time}}</a></div>
            {{> note actor=../actor note=../note}}
        {{/isEq}}
        {{#isEq notification.type "Like"}}
            <div class="notification">⭐️ <a href="/private/profile/{{getUsername ../actor.id}}">{{../actor.name}}</a> liked <a href="{{../note.id}}">your post</a>  {{timesince ../time}}</div>
            <div class="preview">
                {{{...note.content}}}
            </div>
        {{/isEq}}
        {{#isEq notification.type "Vote"}}
            <div class="notification">🗳 <a href="/private/profile/{{getUsername ../actor.id}}">{{../actor.name}}</a> voted on <a href="{{../note.id}}">your poll</a>  {{timesince ../time}}</div>
        {{/isEq}}
        {{#isEq notification.type "Follow"}}
            <div class="notification">🤷🏽‍♂️ <a href="/private/profile/{{getUsername ../actor.id}}">{{../actor.name}}</a> followed you {{timesince ../time}}</div>
            {{> byline actor=../actor}}
        {{/isEq}}
    {{/with}}
    </div>
{{/each}}
</div>
{{> peopleTools}}
<script>
    // take note of the most recent post date
    {{#each notifications}} {{#if @first}} 
    app.latestNotification("{{this.time}}");
     {{/if}}{{/each}}
   
    app.pollForPosts();
</script>
