
{{> peopleTools}}
<section class="queue-status">
    <header class="queue-header" >Outbound Queue</header>
    <div class="queue-details">
        {{#isEq queue.state 0}}✅{{/isEq}}
        {{#isEq queue.state 1}}🟢{{/isEq}}
        {{#isEq queue.state 3}}🔴{{/isEq}}
        {{#if queue.size}}
        <span class="queue-status-message">
            {{#if queue.shouldRun}}Running.{{/if}}
            {{queue.size}} items remain.
        </span>
        {{else}}
        Queue empty
        {{/if}}
    </div>
</section>

<section class="preferences-form">
    <header class="preferences-header">Preferences</header>
    <form method="post" action="/private/prefs" class="preferences-settings">
        <fieldset>
            <legend>Interface Strings</legend>
            <div class="form-group">
                <label for="postButton">Post button</label>
                <input type="text" id="postButton" name="strings.post" value="{{prefs.strings.post}}" required />
            </div>
        </fieldset>
        <fieldset id="emojis">
            <legend>Emoji Buttons</legend>
            {{#each prefs.icons as |icon key|}}
            <div class="emoji-setting">
                {{!-- <label for="icon-{{key}}">{{capitalize key}}</label> --}}
                <label for="icon-{{key}}">{{key}}</label>
                <input type="text" id="icon-{{key}}" size="2" maxlength="2" name="icons.{{key}}" value="{{icon}}"
                    required />
            </div>
            {{/each}}
            <button type="submit" class="update-button">Update Preferences</button>
        </fieldset>
    </form>

    <form method="post" action="/private/prefsAccount" class="preferences-settings">
        <fieldset>
            <legend>Account Profile</legend>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" id="username" name="username" value="{{me.name}}" required />
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" name="bio">{{#unless me.bio}}{{else}}{{me.bio}}{{/unless}}</textarea>
            </div>
            <div class="avatar-table">
    <table>
        <tr>
            <!-- Row 1 with 6 avatars -->
            <td>
                <input type="radio" id="avatarInput1" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar1.png">
                <label for="avatarInput1"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar1.png" alt="Avatar 1" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput2" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar2.png">
                <label for="avatarInput2"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar2.png" alt="Avatar 2" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput3" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar3.png">
                <label for="avatarInput3"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar3.png" alt="Avatar 3" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput4" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar4.png">
                <label for="avatarInput4"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar4.png" alt="Avatar 4" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput5" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar5.png">
                <label for="avatarInput5"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar5.png" alt="Avatar 5" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput6" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar6.png">
                <label for="avatarInput6"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar6.png" alt="Avatar 6" width="40px" height="40px"/></label>
            </td>
        </tr>
        <tr>
            <!-- Row 2 with 6 avatars -->
            <td>
                <input type="radio" id="avatarInput7" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar7.png">
                <label for="avatarInput7"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar7.png" alt="Avatar 7" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput8" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar8.png">
                <label for="avatarInput8"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar8.png" alt="Avatar 8" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput9" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar9.png">
                <label for="avatarInput9"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar9.png" alt="Avatar 9" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput10" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar10.png">
                <label for="avatarInput10"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar10.png" alt="Avatar 10" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput11" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar11.png">
                <label for="avatarInput11"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar11.png" alt="Avatar 11" width="40px" height="40px"/></label>
            </td>
            <td>
                <input type="radio" id="avatarInput12" name="avatarInput" value="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar12.png">
                <label for="avatarInput12"><img src="https://raw.githubusercontent.com/sora1998/avatar_repo/main/avatar12.png" alt="Avatar 12" width="40px" height="40px"/></label>
            </td>
        </tr>
    </table>
</div>

            <button type="submit" class="update-button">Update Account Profile</button>


        </fieldset>

    </form>
    </div>

</section>