{{!-- {{> peopleTools}}
<div class="box">
    <header>Outbound Queue</header>
    <div style="padding: 1rem;">
        {{#isEq queue.state 0}}✅{{/isEq}}
        {{#isEq queue.state 1}}🟢{{/isEq}}
        {{#isEq queue.state 3}}🔴{{/isEq}}
        {{#if queue.size}}
            {{#if queue.shouldRun}}Running.{{/if}}
            {{queue.size}} items remain.
        {{else}}
            Queue empty
        {{/if}}
    </div>
</div>
<div class="box">
    <header>Preferences</header>
    <form method="post" action="/private/prefs">
        <fieldset>
            <legend>
                Interface Strings
            </legend>
            
            <p>
                <label for="post">Post button</label>
                <input type="string" name="strings.post" value="{{prefs.strings.post}}" required />
            </p>
        </fieldset>
        <fieldset id="emojis">
            <legend>
                Emoji Buttons
            </legend>
            
            <p>
                <label for="post">Mascot</label>
                <input type="string" size="2" maxlength="2" name="icons.mascot" value="{{prefs.icons.mascot}}" required />
            </p>
            <p>
                <label for="post">Latest</label>
                <input type="string" size="2" maxlength="2" name="icons.latest" value="{{prefs.icons.latest}}" required />
            </p>
            <p>
                <label for="post">Notifications</label>
                <input type="string" size="2" maxlength="2" name="icons.notifications" value="{{prefs.icons.notifications}}" required />
            </p>
            <p>
                <label for="post">Messages</label>
                <input type="string" size="2" maxlength="2" name="icons.messages" value="{{prefs.icons.messages}}" required />
            </p>
            <p>
                <label for="post">Post</label>
                <input type="string" size="2" maxlength="2" name="icons.post" value="{{prefs.icons.post}}" required />
            </p>
            <p>
                <label for="post">My Posts</label>
                <input type="string" size="2" maxlength="2" name="icons.myPosts" value="{{prefs.icons.myPosts}}" required />
            </p>
            <p>
                <label for="post">Prefs</label>
                <input type="string" size="2" maxlength="2" name="icons.prefs" value="{{prefs.icons.prefs}}" required />
            </p>
            <p>
                <label for="post">Fave (off)</label>
                <input type="string" size="2" maxlength="2" name="icons.faveInactive" value="{{prefs.icons.faveInactive}}" required />
            </p>
            <p>
                <label for="post">Fave (on)</label>
                <input type="string" size="2" maxlength="2" name="icons.faveActive" value="{{prefs.icons.faveActive}}" required />
            </p>
            <p>
                <label for="post">Boost (off)</label>
                <input type="string" size="2" maxlength="2" name="icons.boostInactive" value="{{prefs.icons.boostInactive}}" required />
            </p>
            <p>
                <label for="post">Boost (on)</label>
                <input type="string" size="2" maxlength="2" name="icons.boostActive" value="{{prefs.icons.boostActive}}" required />
            </p>
            <p>
                <label for="post">Reply</label>
                <input type="string" size="2" maxlength="2" name="icons.reply" value="{{prefs.icons.reply}}" required />
            </p>

            <button type="submit">Update Preferences</button>
        </fieldset>
    </form>
</div> --}}

{{> peopleTools}}
<section class="queue-status">
    <header class="queue-header">Outbound Queue</header>
    <div class="queue-details">
        {{#isEq queue.state 0}}✅{{/isEq}}
        {{#isEq queue.state 1}}🟢{{/isEq}}
        {{#isEq queue.state 3}}🔴{{/isEq}}
        {{#if queue.size}}
            <span class="queue-status-message">
                {{#if queue.shouldRun}}Running.{{/if}}
                {{queue.size}} items remain.
            </span>
        {{else}}
            Queue empty
        {{/if}}
    </div>
</section>

<section class="preferences-form">
    <header class="preferences-header">Preferences</header>
    <form method="post" action="/private/prefs" class="preferences-settings">
        <fieldset>
            <legend>Interface Strings</legend>
            <div class="form-group">
                <label for="postButton">Post button</label>
                <input type="text" id="postButton" name="strings.post" value="{{prefs.strings.post}}" required />
            </div>
        </fieldset>
        <fieldset id="emojis">
            <legend>Emoji Buttons</legend>
            {{#each prefs.icons as |icon key|}}
            <div class="emoji-setting">
                {{!-- <label for="icon-{{key}}">{{capitalize key}}</label> --}}
                <label for="icon-{{key}}">{{key}}</label>
                <input type="text" id="icon-{{key}}" size="2" maxlength="2" name="icons.{{key}}" value="{{icon}}" required />
            </div>
            {{/each}}
            <button type="submit" class="update-button">Update Preferences</button>
        </fieldset>
    </form>

     <form method="post" action="/private/prefsAccount" class="preferences-settings">
        <fieldset>
            <legend>Account Profile</legend>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" id="username" name="username" value="{{me.name}}" required />
            </div>
            <button type="submit" class="update-button">Update Account Profile</button>
        </fieldset>

    </form>
    
</section>
