<div class="box">
    <header>Preferences</header>
    <form method="post" action="/private/prefs">
        <fieldset>
            <legend>
                Interface Strings
            </legend>
            
            <p>
                <label for="post">Post button</label>
                <input type="string" name="strings.post" value="{{prefs.strings.post}}" required />
            </p>
        </fieldset>
        <fieldset id="emojis">
            <legend>
                Emoji Buttons
            </legend>
            
            <p>
                <label for="post">Mascot</label>
                <input type="string" size="2" maxlength="2" name="icons.mascot" value="{{prefs.icons.mascot}}" required />
            </p>
            <p>
                <label for="post">Latest</label>
                <input type="string" size="2" maxlength="2" name="icons.latest" value="{{prefs.icons.latest}}" required />
            </p>
            <p>
                <label for="post">Notifications</label>
                <input type="string" size="2" maxlength="2" name="icons.notifications" value="{{prefs.icons.notifications}}" required />
            </p>
            <p>
                <label for="post">Messages</label>
                <input type="string" size="2" maxlength="2" name="icons.messages" value="{{prefs.icons.messages}}" required />
            </p>
            <p>
                <label for="post">Post</label>
                <input type="string" size="2" maxlength="2" name="icons.post" value="{{prefs.icons.post}}" required />
            </p>
            <p>
                <label for="post">My Posts</label>
                <input type="string" size="2" maxlength="2" name="icons.myPosts" value="{{prefs.icons.myPosts}}" required />
            </p>
            <p>
                <label for="post">Fave (off)</label>
                <input type="string" size="2" maxlength="2" name="icons.faveInactive" value="{{prefs.icons.faveInactive}}" required />
            </p>
            <p>
                <label for="post">Fave (on)</label>
                <input type="string" size="2" maxlength="2" name="icons.faveActive" value="{{prefs.icons.faveActive}}" required />
            </p>
            <p>
                <label for="post">Boost (off)</label>
                <input type="string" size="2" maxlength="2" name="icons.boostInactive" value="{{prefs.icons.boostInactive}}" required />
            </p>
            <p>
                <label for="post">Boost (on)</label>
                <input type="string" size="2" maxlength="2" name="icons.boostActive" value="{{prefs.icons.boostActive}}" required />
            </p>
            <p>
                <label for="post">Reply</label>
                <input type="string" size="2" maxlength="2" name="icons.reply" value="{{prefs.icons.reply}}" required />
            </p>

            <button type="submit">Update Preferences</button>
        </fieldset>
    </form>
</div>